body{
    /* background-color: blue;
    background-image: url(leo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    /* background: yellow url(leo.png) no-repeat center fixed; */
    background: url(t3.png) repeat-y right top,
                url(t4.png) repeat-y,
                url(leo.png);
}

p{
    background-color: rgba(50, 50, 50, 0.5);
}