ul{
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  font-weight: bold;
}

li{
  margin-right: 20px;
}

h1, h2, h3{
  text-align: center;
}

a.active{
  color: rgb(28, 167, 167);
}

.my{
  color: rgb(238, 34, 129);
}

.orange{
  color: rgb(245, 159, 0);
}