<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--    <link rel="icon" type="image/x-icon" href="{% static 'skills/favicon.ico' %}">-->
</head>
<body>
<div class="menu">
    <div class="wrap">
<!--        <div class="logo">-->
<!--            <a href="{% url 'index' %}"><img src="{% static 'skills/logo.png' %}" alt=""></a>-->
<!--        </div>-->
        <ul>
            <li><a href="{% url 'index' %}">Каталог курсов</a></li>
            <li><a href="{% url 'blogs' %}">Добавить курс</a></li>
            <li><a href="{% static 'skills/resume.pdf' %}" target="_blank">Информация</a></li>
        </ul>
        <nav>
        <ul>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'logout' %}">Выход</a></li>
        </ul>
</nav>
    </div>
</div>
<div class="content">
    <div class="wrap">
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
