{% extends 'base.html' %}
{% block title %}Pricing{% endblock %}
{% block content %}
<h1>Pricing</h1>
<div class="courses">
    <div class="course">
        <h2>Курс Python</h2>
        <p>14110 руб/мес</p>
        <p>Учебная программа "Программирование на Python" создана для тех, кто хочет с нуля освоить 3й по
        популярности язык в мире, и создавать на нем от простых приложений до высокозагруженных Web-сервисов.</p>
        <button>Купить</button>
    </div>
    <div class="course">
        <h2>Разработка на Java</h2>
        <p>6070 руб/мес</p>
        <p>Основам программирования на языке Java; Принципам объектно-ориентированного программирования.
        Понимать механизмы многопоточности Java; Уметь сериализовать и парсить данные используя JSON.</p>
        <button>Купить</button>
    </div>
    <div class="course">
        <h2>Курс Front-end</h2>
        <p>7300 руб/мес</p>
        <p>Введение в веб-технологий. Структура HTML. Формирование текста с помощью HTML. Управлять браузерами
        и элементами HTML-страниц с помощью JavaScript. Владеть фреймворками React и Angular.</p>
        <button>Купить</button>
    </div>
</div>
{% endblock %}
