@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background: #lightyellow;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.element,
.count {
    background: lightyellow;
    border: 6px solid #FFF;
    margin: 20px 0;
}

.text {
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.block img {
    max-width: 360px;
}

.content h1 {
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}

.img+h2,
.text+h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.img {
    text-align: center;
    margin-bottom: 60px;
}

.img img{
    border: 6px solid #lightyellow;
}

.top{
    background: #blue;
    margin: 0;
}

.top a{
    color: #blue;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.detail{
    background: #FFF;
    padding: 20px 20px 60px;
}
.blog_text{
    padding: 20px;
    box-sizing: border-box;
}
.count{
    padding: 10px 20px;
    box-sizing: border-box;
}

.menu{
    background: lightblue;
    padding: 10px;
    border-bottom: 6px solid #blue;
}
.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: #blue;
    font-weight: bold;
    text-decoration: none;
}

.menu ul{
    display: flex;
    list-style: none;
    font-size: 22px;
}

.menu li{
    margin-left: 40px;
}

body {
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #333;
    color: white;
}

.menu .wrap {
    padding: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.menu a,
.logo {
    color: #FFF;
}

a {
    text-decoration: none;
}

.tabs {
    margin-top: 20px;
}

.tab-button {
    padding: 10px 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.block {
    display: flex;
    justify-content: space-around;
}

.element {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #45a049;
}
