@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Slab", serif;
    padding: 0;
    margin: 0;
    background: #a6ecd7;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.element,
.count {
    background: #E8F5E9;
    border: none;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.block img {
    max-width: 360px;
}

.content h1 {
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
    color: #3E2723;
}

.img+h2,
.text+h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: #5D4037;
}

.img {
    text-align: center;
    margin-bottom: 60px;
}

.img img {
    border: none;
}
